.post {
  position: relative;
}
.btns {
  position: absolute;
  top: -25px;
  right: -15px;
}
.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
  margin: 5px;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px) scale(1.2);
}
.deleteContainer {
  transition: all 0.2s;
}
.deleteBtn.--active,
.editBtn.--active {
  border-radius: 5px;
}
.deleteBtn.--active {
  background: rgb(211, 6, 6);
}
.editBtn.--active {
  background: rgb(51, 51, 55);
}
.--active .btn {
  margin-right: 0;
}
.deleteBtn {
  background: rgb(211, 6, 6);
  color: white;
}
.confirmBtn,
.cancelBtn {
  padding: 5px;
  font-size: 1.5rem;
}
.confirmBtn svg {
  fill: green;
}
.cancelBtn svg {
  fill: rgb(211, 6, 6);
}
.editBtn {
  background: rgb(51, 51, 55);
  color: white;
}
.btn svg {
  fill: white;
}
